<div class="body">
  <mat-card class="loginCard">
    <div class="header">
      <h2>Login</h2>
    </div>

    <mat-card-content style="padding-bottom: 15px;">
      <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput autocomplete="off">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input [type]="ocultarPassword ? 'password' : 'text'" formControlName="password" matInput autocomplete="off">
          <mat-icon matSuffix (click)="ocultarPassword = !ocultarPassword" mat-icon-button type="button">
            {{ ocultarPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="formularioLogin.invalid" style="margin-left: 20px;">
          <mat-icon matSuffix>login</mat-icon>Iniciar Sesión
        </button>
      </form>

      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="mostrarLoading"></mat-progress-bar>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
